extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  :php
    if ($_SERVER['REQUEST_METHOD'] == 'POST') {
      print<<<_HTML_
        <p>Hello {$_POST['myName']}</p>
    _HTML_;
    } else {
      print<<<_HTML_
        <form method="post" action="{$_SERVER['PHP_SELF']}">
          <div>Your name: <input type="text" name="myName" /></div>
          <div><input type="submit" value="Say Hello" /></div>
        </form>
    _HTML_;
    }

block contentFixedAfter
